{% extends 'base.html' %}

{% block content %}
  <h2>Confirmar Exclusão</h2>
  {% if jogador %}
  <h2>Você tem certeza que deseja excluir o jogador "{{ jogador.nome }}"?</h2>
  {% elif personagem %}
  <h2>Você tem certeza que deseja excluir o personagem "{{ personagem.nome }}"?</h2>
  {% endif %}
  
  <form method="POST">
    {% csrf_token %}
    <button type="submit">Confirmar Exclusão</button>
  </form>

  <div class="nav-links">
    <a href="{% url 'lista_jogadores' %}">Cancelar</a>
  </div>
{% endblock %}