{% extends 'base.html' %}
{% block content %}
  <h2>Lista de Jogadores e seus Personagens</h2>
  <ul>
    {% for jogador in jogadores %}
      <li>
        {{ jogador.nome }} ({{ jogador.email }})
        <a href="{% url 'excluir_jogador' jogador.pk %}">Excluir Jogador</a>
        <ul>
          {% for personagem in jogador.personagens.all %}
            <li>
              {{ personagem.nome }} - Classe: {{ personagem.classe }}, Nível: {{ personagem.nivel }}
              <a href="{% url 'excluir_personagem' personagem.pk %}">Excluir Personagem</a>
            </li>
          {% empty %}
            <li>Este jogador não tem personagens.</li>
          {% endfor %}
        </ul>
      </li>
    {% empty %}
      <li>Não há jogadores cadastrados.</li>
    {% endfor %}
  </ul>
  <div class="nav-links">
    <a href="{% url 'adicionar_jogador' %}">Adicionar Jogador</a>
    <span></span>
    <a href="{% url 'adicionar_personagem' %}">Adicionar Personagem</a>
  </div>
{% endblock %}

